body {
    background: #e0e5ec;
    zoom: 500%;
}
  h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
  }
  
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
  }
  
  button {
    margin: 50px 0 0 75px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  }

  .btn-5 {
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
    box-shadow: -14px 13px 15px #0000005e,
    19px -12px 15px #0000005e;
    
  }
  .btn-5:hover {
    background: rgb(255, 255, 255);
    color: #000;
    box-shadow: -15px -8px 15px #0000005e, 14px 9px 15px #0000005e;
    transition: box-shadow 1s ease-in-out;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(36, 163, 157);
    transition:400ms ease all;
    
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:1s ease-in;
    transform: rotateX(-90deg);
    background-color: #c49124;
  }
  
